<div class="navbar">
  <h1>Cocktails</h1>  
  <div>
    <i class="fas fa-cocktail"></i>
  </div>
</div>

<div class="banner">
  <div class="banner_text">
    <h1>Classic Cocktails You Must Know How To Make</h1>
  </div>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th>List of cocktails: <i class="fas fa-cocktail"></i> </th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @cocktails.each do |cocktail| %>
        <tr>
          <td><%= link_to cocktail.name, cocktail_path(cocktail.id) %></td>
          <td><%= link_to 'Add dose', new_cocktail_dose_path(cocktail) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Create new cocktail', new_cocktail_path %>
</div>
