// Specific CSS for your home-page
.navbar{
    background-color:#e0ece4;
}

.banner{
    color: white;
    padding: 150px;
    opacity: 0.8;
    background-size: cover;
    background-image: url("https://image.freepik.com/free-photo/close-up-view-two-summer-citrus-coctails-summer-time-concept_158023-81.jpg");
}

.banner_text{
    position: relative;
    position: relative;
    bottom: 93px;
    right: 104px;
}

.btn{
    color: inherit;
    color: white;
}

.card{
    width: 300px;
    height: 300px;
    background-size: cover;
    background-image: url("https://www.thespruceeats.com/thmb/8w9Zmdiva5L23O_HJhjgYC-jKEU=/1365x1365/smart/filters:no_upscale()/tequila-sunrise-recipe-760754-19_preview-5b02f856119fa80037651942.jpeg");
    margin: 15px;
}

tbody{
    display: flex;
    flex-wrap: wrap;
}